/* Resetting styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: inline-block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.myPortfolio-widget .profile-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.myPortfolio-widget .profile-user .profile-user__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 470px;
  height: 250px;
  background: #2b7056 url("../img/dollarIC.png") no-repeat;
  background-position: center;
  padding: 25px;
  border-radius: 20px;
  color: rgba(223, 223, 23, 0.87);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.myPortfolio-widget .profile-user .profile-user__card:hover {
  background-color: #1f533e;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.myPortfolio-widget .profile-user .profile-user__card:hover > * {
  text-shadow: 2px 3px 3px rgba(156, 133, 4, 0.808);
}

.myPortfolio-widget .profile-user .profile-user__card .user-card__name {
  font-size: 24px;
  font-weight: 500;
}

.myPortfolio-widget .profile-user .profile-user__card .user-card__number {
  font-size: 36px;
  font-weight: 500;
  word-spacing: 20px;
  letter-spacing: 5px;
}

.myPortfolio-widget .profile-user .profile-user__card .user-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myPortfolio-widget .profile-user .profile-user__card .user-card__info .card-info__owner {
  margin-right: 80px;
}

.myPortfolio-widget .profile-user .profile-user__card .info-owner__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.myPortfolio-widget .profile-user .profile-user__card .info-owner__data {
  font-size: 18px;
  font-weight: 400;
}

.myPortfolio-widget .profile-user .profile-user__balance {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

.myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
  font-size: 32px;
  color: #186937;
  margin-bottom: 15px;
}

.myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
  font-size: 36px;
  margin-bottom: 15px;
}

.myPortfolio-widget .assets-list {
  background-color: #fff;
  margin-top: 50px;
  padding: 25px;
  border-radius: 20px;
}

.myPortfolio-widget .assets-list .list-content__title {
  font-size: 36px;
  color: #186937;
  margin-bottom: 30px;
}

.myPortfolio-widget .assets-list .list-content__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock {
  border: 1px solid rgba(0, 0, 0, 0.582);
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
  font-size: 16px;
  margin-right: 10px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info .stock-info__name {
  margin-bottom: 10px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: end;
  margin-left: auto;
  margin-bottom: 20px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
  font-size: 20px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price:first-child {
  margin-bottom: 10px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button {
  background-color: rgba(180, 180, 179, 0.767);
  font-size: 20px;
  padding: 2px 5px;
  border: 1px solid #000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button:hover {
  background-color: rgba(105, 105, 103, 0.767);
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count {
  background-color: rgba(180, 180, 179, 0.767);
  font-size: 20px;
  padding: 2px 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
  color: #140101;
  background-color: rgba(238, 27, 27, 0.897);
  margin-right: 10px;
}

.myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell:hover {
  background-color: rgba(175, 23, 23, 0.897);
}

.currencyRate-widget .currencyRate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.currencyRate-widget .currencyRate-content .current-course {
  width: 50%;
}

.currencyRate-widget .currencyRate-content .current-course .current-course__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.currencyRate-widget .currencyRate-content .current-course__list {
  border-radius: 15px;
}

.currencyRate-widget .currencyRate-content .current-course__list > * {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.currencyRate-widget .currencyRate-content .current-course__list > *:first-child {
  border-top: 1px solid black;
}

.currencyRate-widget .currencyRate-content .current-course__list .current-course__item {
  background-color: rgba(255, 254, 254, 0.26);
  padding: 0 5px;
}

.currencyRate-widget .currencyRate-content .current-course__list .current-course__item img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
}

.currencyRate-widget .currencyRate-content .current-course__list .current-course__item .rate-item__info {
  margin-right: 10px;
  max-width: 100px;
}

.currencyRate-widget .currencyRate-content .current-course__list .current-course__item .rate-item__price {
  margin-left: auto;
  font-size: 18px;
}

.currencyRate-widget .currencyRate-content .currency-conversion {
  width: 50%;
  margin-left: 15px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  height: 80px;
  border-radius: 10px;
  padding: 10px 5px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .choose-rate__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .choose-rate__form > *:first-child {
  margin-bottom: 20px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .price-rate__form {
  margin-left: 20px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .price-rate__form .course-amount,
.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .price-rate__form .course-result {
  background-color: rgba(199, 198, 198, 0.541);
  padding: 5px 10px;
  border-radius: 10px;
}

.currencyRate-widget .currencyRate-content .currency-conversion .currency-conversion__form .price-rate__form .course-result {
  margin-top: 8px;
}

.incameCalculator-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.incameCalculator-content .calculator-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.incameCalculator-content .calculator-input {
  margin-right: 15px;
}

.incameCalculator-content .calculator-input input {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgba(231, 227, 227, 0.76);
}

.incameCalculator-content .calculator-input label {
  font-size: 18px;
}

.incameCalculator-content .calculator-input .section-income {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.incameCalculator-content .calculator-input .section-income .form-income {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.incameCalculator-content .calculator-input .section-expenses .form-expense {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.incameCalculator-content .calculator-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.incameCalculator-content .calculator-output p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.incameCalculator-content .calculator-output p span {
  text-align: center;
  background-color: #b2b3b4;
  padding: 5px;
  max-width: 90px;
  height: 20px;
}

.incameCalculator-content .calculator-input,
.incameCalculator-content .calculator-output {
  width: 49%;
  background-color: rgba(17, 1, 1, 0.103);
  padding: 10px;
  border-radius: 10px;
}

.economicNews-content .news-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.economicNews-content .news-category .news-category__item {
  padding: 5px 10px;
  background-color: rgba(184, 194, 191, 0.877);
  margin-right: 30px;
  font-size: 16px;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.economicNews-content .news-category .news-category__item.active {
  background-color: rgba(46, 49, 48, 0.877);
  color: #dddfe0;
}

.economicNews-content .news-category .news-category__item:hover {
  background-color: rgba(87, 114, 105, 0.877);
}

.economicNews-content .news-content .news-list {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 15px;
}

.economicNews-content .news-content .news-list .news-list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.economicNews-content .news-content .news-list .news-list__card:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.economicNews-content .news-content .news-list .news-list__card .news-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.economicNews-content .news-content .news-list .news-list__card .news-card__title {
  margin-bottom: 10px;
  text-decoration: underline;
}

.economicNews-content .news-content .news-list .news-list__card .news-card__description {
  margin-bottom: 5px;
  line-height: 1.2;
}

.economicNews-content .news-content .news-list .news-list__card .news-card__img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.economicNews-content .news-content .news-list .news-list__card .news-card__url {
  margin-top: auto;
}

.wrapper {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #c0e5ee;
  width: 100%;
  z-index: 10;
}

.header .content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 25px;
}

.header .content-group .btn-setting {
  margin-right: 16px;
  background-color: transparent;
}

.header .content-group .btn-setting img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.header .content-group .btn-setting img:hover {
  -webkit-transform: rotate(45deg) scale(1.1);
  -ms-transform: rotate(45deg) scale(1.1);
  transform: rotate(45deg) scale(1.1);
}

.header .content-group .content-group__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header .content-group .content-group__content .date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.header .content-group .content-group__content .date-group > * {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
}

.header .content-group .content-group__content .date-group > *:last-child {
  margin-right: 0;
}

.header .content-group .content-group__content .currency-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 0;
  width: 150px;
}

.header .content-group .content-group__content .currency-rate > * {
  font-weight: 400;
  font-size: 14px;
}

.header .logo-group {
  text-align: center;
  cursor: pointer;
}

.header .logo-group:hover * {
  text-shadow: 2px 3px 3px rgba(156, 133, 4, 0.808);
}

.header .logo-group .logo-group__name {
  font-size: 32px;
  color: #1a6602;
}

.header .logo-group .logo-group__title {
  font-weight: 500;
  color: #5f5102;
}

.main {
  width: 100%;
  height: 100%;
  background: url("../img/back.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.main .btn-menu-open {
  display: none;
  background-color: rgba(192, 229, 238, 0.726);
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  top: 75px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

.main .btn-menu-open:hover {
  background-color: rgba(129, 219, 241, 0.726);
}

.main .btn-menu-open.active-menu {
  -webkit-transform: translate(180px) rotate(90deg);
  -ms-transform: translate(180px) rotate(90deg);
  transform: translate(180px) rotate(90deg);
}

.main .main__container {
  padding-top: 68px;
}

.main .main__container .menu-finance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  height: 100%;
  position: fixed;
  background-color: #0e8f73;
  z-index: 10;
}

.main .main__container .menu-finance .menu-finance__list > * {
  padding: 15px 15px;
  color: rgba(207, 250, 250, 0.829);
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .main__container .menu-finance .menu-finance__list > *:hover {
  background-color: rgba(222, 238, 234, 0.342);
}

.main .main__container .menu-finance .menu-finance__list > *.active-item {
  background-color: rgba(222, 238, 234, 0.342);
}

.main .main__container .content-finance {
  max-width: 100%;
  padding-left: 180px;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 700px;
}

.widget .widget-body {
  background-color: rgba(240, 248, 255, 0.808);
  width: 100%;
  margin: 30px;
  margin-bottom: 0;
  padding: 30px;
  border-radius: 20px;
  min-height: 700px;
}

.widget .widget-body .widget-title {
  font-size: 32px;
  color: #1c5f56;
  line-height: 1.1;
  margin-bottom: 30px;
}

.widget .widget-body .widget-title span {
  color: #40657e;
}

.widget .widget-body .widget-text {
  font-size: 26px;
}

.main-widget,
.myPortfolio-widget,
.currencyRate-widget,
.stockPrice-widget,
.incomeCalculator-widget,
.economicNews-widget {
  display: none;
}

.main-widget.active-widget,
.myPortfolio-widget.active-widget,
.currencyRate-widget.active-widget,
.stockPrice-widget.active-widget,
.incomeCalculator-widget.active-widget,
.economicNews-widget.active-widget {
  display: block;
}

.search-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 275px;
}

.search-stock::before {
  content: "";
  width: 28px;
  height: 28px;
  background: url("../img/searchicon.png") no-repeat;
  position: absolute;
  right: 6px;
  top: 5px;
}

.search-stock .search-stock__input {
  margin-bottom: 15px;
  padding: 10px 10px;
  border-radius: 10px;
  width: 275px;
}

.widget_price-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.widget_price-list > * {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 10px;
}

.widget_price-list .widget_price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color, 0.31s ease, -webkit-filter 0.3s;
  transition: background-color, 0.31s ease, -webkit-filter 0.3s;
  -o-transition: background-color, filter 0.3s, 0.31s ease;
  transition: background-color, filter 0.3s, 0.31s ease;
  transition: background-color, filter 0.3s, 0.31s ease, -webkit-filter 0.3s;
}

.widget_price-list .widget_price-card:hover {
  background-color: rgba(126, 125, 125, 0.089);
}

.widget_price-list .widget_price-card .widget_price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget_price-list .widget_price-card .widget_price-info img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 5;
}

.widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-inductry {
  font-size: 14px;
  max-width: 180px;
}

.widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-btn {
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #4be7d2;
}

.widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-btn:hover {
  background-color: #56c9b9;
  color: #fff;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.widget_price-list .widget_price-card .widget_price-price {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .main .main__container {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .main .main__container .menu-finance {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(-180px);
    -ms-transform: translate(-180px);
    transform: translate(-180px);
  }

  .main .main__container .content-finance {
    padding-left: 0;
  }

  .main .btn-menu-open {
    display: block;
  }

  .main .btn-menu-open.active-menu + .main__container .menu-finance {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
}

@media (max-width: 1200px) {
  .widget_price-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 26px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 30px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 14px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 16px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 24px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 28px;
  }

  .myPortfolio-widget .profile-user .profile-user__card {
    width: 400px;
    height: 220px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__name {
    font-size: 22px;
    font-weight: 400;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__number {
    font-size: 30px;
    letter-spacing: 4px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__title {
    font-size: 14px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__data {
    font-size: 16px;
  }

  .economicNews-content .news-content .news-list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .economicNews-content .news-content .news-list .news-list__card:first-child {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .economicNews-content .news-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .economicNews-content .news-category .news-category__item {
    padding: 5px;
    margin-right: 15px;
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .widget .widget-body {
    margin: 15px;
    padding: 15px;
  }

  .widget_price-list {
    gap: 10px;
  }

  .widget_price-list .widget_price-card .widget_price-info img {
    width: 50px;
    height: 50px;
  }

  .widget_price-list .widget_price-card .widget_price-info .widget_price-description {
    max-width: 110px;
  }

  .widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-title {
    font-size: 14px;
  }

  .widget_price-list .widget_price-card .widget_price-info .widget_price-description .widget_price-inductry {
    font-size: 12px;
  }

  .widget_price-list .widget_price-card .widget_price-price {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .myPortfolio-widget .profile-user .profile-user__balance {
    padding-left: 10px;
    padding-right: 10px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 22px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 26px;
  }

  .myPortfolio-widget .assets-list .list-content__items {
    grid-template-columns: 1fr;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock {
    border: none;
    border-radius: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 18px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 20px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .myPortfolio-widget .profile-user {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }

  .myPortfolio-widget .profile-user .profile-user__card {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .myPortfolio-widget .profile-user .profile-user__balance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 22px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 22px;
    margin-bottom: 0;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count:first-of-type {
    margin-right: 30px;
  }

  .myPortfolio-widget .assets-list {
    margin-top: 30px;
  }

  .myPortfolio-widget .assets-list .list-content__items {
    grid-template-columns: 1fr;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock {
    border: none;
    border-radius: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 18px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 20px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 18px;
  }

  .widget .widget-body .incomeCalculator-widget__title {
    font-size: 26px;
  }

  .incameCalculator-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .incameCalculator-content .calculator-input,
  .incameCalculator-content .calculator-output {
    width: 90%;
    margin-right: 0;
  }

  .incameCalculator-content .calculator-input {
    margin-bottom: 15px;
  }

  .economicNews-content .news-content .news-list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .economicNews-content .news-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 300px;
    row-gap: 15px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .economicNews-content .news-category .news-category__item {
    padding: 5px;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  .widget_price-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .myPortfolio-widget .myPortfolio-widget__title.widget-title {
    font-size: 28px;
  }

  .myPortfolio-widget .profile-user {
    justify-items: center;
  }

  .myPortfolio-widget .profile-user .profile-user__balance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 20px;
    margin-right: 15px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 22px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count:first-of-type {
    margin-right: 30px;
  }

  .myPortfolio-widget .assets-list .list-content__title {
    font-size: 28px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-img {
    width: 40px;
    height: 40px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 16px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 18px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .currencyRate-widget .currencyRate-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .currencyRate-widget .currencyRate-content .current-course,
  .currencyRate-widget .currencyRate-content .currency-conversion {
    width: 100%;
  }

  .currencyRate-widget .currencyRate-content .current-course {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .currencyRate-widget .currencyRate-content .currency-conversion {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 15px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 18px;
    margin-right: 10px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 18px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count:first-of-type {
    margin-right: 15px;
  }

  .myPortfolio-widget .profile-user .profile-user__card {
    width: 300px;
    height: 160px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__name {
    font-size: 16px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__number {
    font-size: 22px;
    letter-spacing: 3px;
    word-spacing: 14px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__title {
    font-size: 12px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__data {
    font-size: 13px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 14px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 16px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 14px;
  }

  .widget .widget-body {
    margin: 15px;
    padding: 15px;
  }
}

@media (max-width: 440px) {
  .myPortfolio-widget .myPortfolio-widget__title.widget-title {
    font-size: 26px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance {
    text-align: left;
    width: 90%;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__title {
    font-size: 16px;
    margin-right: 5px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count {
    font-size: 16px;
  }

  .myPortfolio-widget .profile-user .profile-user__balance .user-balance__count:first-of-type {
    margin-right: 10px;
  }

  .myPortfolio-widget .profile-user .profile-user__card {
    width: 240px;
    height: 135px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__name {
    font-size: 12px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .user-card__number {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 8px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__title {
    font-size: 10px;
  }

  .myPortfolio-widget .profile-user .profile-user__card .info-owner__data {
    font-size: 11px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-info {
    font-size: 12px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__price {
    font-size: 14px;
  }

  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count button,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .stock-count,
  .myPortfolio-widget .assets-list .list-content__items .content-items__stock .stock-number .stock-number__count .btn-sell {
    font-size: 14px;
  }

  .header .content-group .content-group__content .date-group > * {
    font-size: 12px;
  }

  .header .content-group .content-group__content .currency-rate {
    width: 135px;
  }

  .header .content-group .content-group__content .currency-rate > * {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .economicNews-content .news-content .news-list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .economicNews-content .news-content .news-list .news-list__card .news-card__info {
    font-size: 12px;
  }

  .economicNews-content .news-content .news-list .news-list__card .news-card__title {
    font-size: 13px;
  }

  .economicNews-content .news-content .news-list .news-list__card .news-card__description {
    font-size: 13px;
  }

  .economicNews-content .news-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 15px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .economicNews-content .news-category .news-category__item {
    padding: 5px 0;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .widget .widget-body {
    padding: 5px;
    margin: 5px;
    margin-top: 30px;
  }

  .widget .widget-body .incomeCalculator-widget__title {
    font-size: 26px;
  }
}