@import 'resetting';
@import 'myPortfolio';
@import 'currencyRate';
@import 'incomeCalculator';
@import 'economicNews';

.wrapper {
    width: 100%;
    height: auto;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(192, 229, 238);
    width: 100%;
    z-index: 10;
    .content-group {
        display: flex;
        position: relative;
        padding-right: 25px;
        .btn-setting {
            margin-right: 16px;
            background-color: transparent;
            img {
                transition: transform 0.5s ease;
                &:hover {
                    transform: rotate(45deg) scale(1.1);
                }
            }
        }
        .content-group__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .date-group {
                display: flex;
                margin-bottom: 18px;
                &>* {
                    margin-right: 10px;
                    font-weight: 400;
                    font-size: 14px;
                }
                &>*:last-child {
                    margin-right: 0;
                }
            }
            .currency-rate {
                display: flex;
                justify-content: space-between;
                margin-right: 0;
                width: 150px;
                & >* {
                   font-weight: 400;
                   font-size: 14px;  
                }
            }
        }
    }
    .logo-group {
        text-align: center;
        cursor: pointer;
        &:hover * {
            text-shadow: 2px 3px 3px rgba(156, 133, 4, 0.808);
        }
        .logo-group__name {
            font-size: 32px;
            color: rgb(26, 102, 2);
        }
        .logo-group__title {
            font-weight: 500;
            color: rgb(95, 81, 2);
        }
    }
}
.main {
    width: 100%;
    height: 100%;
    background: url('../img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
    .btn-menu-open {
        display: none;
        background-color: rgba(192, 229, 238, 0.726);
        padding: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        left: 10px;
        top: 75px;
        transition: all 0.5s ease;
        z-index: 10;
        &:hover {
            background-color: rgba(129, 219, 241, 0.726);
        }
        &.active-menu {
            transform: translate(180px) rotate(90deg);
        }
    }
    .main__container {
        padding-top: 68px;
        .menu-finance {
            display: flex;
            flex-direction: column;
            width: 180px;
            height: 100%;
            position: fixed;
            background-color: rgb(14, 143, 115);
            z-index: 10;
            .menu-finance__list {
                &>* {
                    padding: 15px 15px;
                    color: rgba(207, 250, 250, 0.829);
                    font-size: 18px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: rgba(222, 238, 234, 0.342);
                    }
                    &.active-item {
                        background-color: rgba(222, 238, 234, 0.342);
                    }
                }
            }
        }
        .content-finance {
            max-width: 100%;
            padding-left: 180px;
        }
    }
}
@media (max-width: 1400px) {
    .main {
        .main__container {
            transition: all 0.5s ease;
            .menu-finance {
                transition: all 0.5s ease;
                transform: translate(-180px);
            }
            
            .content-finance {
                padding-left: 0;
            }
        }
        .btn-menu-open {
            display: block;
            &.active-menu + .main__container .menu-finance {
                transform: translate(0);
            }
        }
    }
}
// General style for Widget

.widget {
    display: flex;
    justify-content: center;
    min-height: 700px;
    .widget-body {
        background-color: rgba(240, 248, 255, 0.808);
        width: 100%;
        margin: 30px;
        margin-bottom: 0;
        padding: 30px;
        border-radius: 20px;
        min-height: 700px;
        .widget-title {
            font-size: 32px;
            color: rgb(28, 95, 86);
            line-height: 1.1;
            span {
                color: rgb(64, 101, 126);
            }
            margin-bottom: 30px;
        }
        .widget-text {
            font-size: 26px;
        }
    }
}
.main-widget, 
.myPortfolio-widget, 
.currencyRate-widget,
.stockPrice-widget,
.incomeCalculator-widget,
.economicNews-widget {
    display: none;
    &.active-widget {
        display: block;
    }
}
@media (max-width: 500px) {
    .widget {
        .widget-body {
            margin: 15px;
            padding: 15px;
        }
    }
}
@media (max-width: 860px) {
    .widget {
        .widget-body {
            margin: 15px;
            padding: 15px;
        }
    }
}
// Stock price
.search-stock {
    display: flex;
    position: relative;
    width: 275px;
    &::before {
        content: '';
        width: 28px;
        height: 28px;
        background: url('../img/searchicon.png') no-repeat;
        position: absolute;   
        right: 6px;
        top: 5px;
    }
    .search-stock__input {
        margin-bottom: 15px;
        padding: 10px 10px;
        border-radius: 10px;
        width: 275px;
    }
}

.widget_price-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    &>* {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.911);
        border-radius: 10px;  
    }
    .widget_price-card {
        display: flex;
        justify-content: space-between;
        cursor: pointer; 
        position: relative;
        transition: background-color, filter 0.3s, 0.31s ease;
        &:hover {
            background-color: rgba(126, 125, 125, 0.089);
        }
        .widget_price-info {
            display: flex;
            img {
                margin-right: 20px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                z-index: 5;
            }
            .widget_price-description {
                .widget_price-title {
                   margin-bottom: 10px;
                   font-size: 16px;
                }
                .widget_price-inductry {
                    font-size: 14px;
                    max-width: 180px;
                }
                .widget_price-btn {
                    margin-top: 10px;
                    padding: 5px;
                    font-size: 12px;
                    border-radius: 10px;
                    background-color: rgb(75, 231, 210);
                    &:hover {
                        background-color: rgb(86, 201, 185);
                        color: #fff;
                        transform: scale(1.03);
                    }
                }
            }
        }
        .widget_price-price {
            font-size: 16px;
        }
    }
}
@media (max-width: 1200px) {
    .widget_price-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 620px) {
    .widget_price-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 860px) {
    .widget_price-list {
        gap: 10px;
        .widget_price-card {
            .widget_price-info {
                img {
                    width: 50px;
                    height: 50px; 
                }
                .widget_price-description {
                    max-width: 110px;
                     .widget_price-title {
                        font-size: 14px;
                     }
                     .widget_price-inductry {
                         font-size: 12px;
                     }
                 }
            }
            .widget_price-price {
                font-size: 14px;
            }
        }       
    }
}
@media (max-width: 440px) {
    .header {
        .content-group {
            .content-group__content {
                .date-group {
                    &>* {
                      font-size: 12px;  
                    }
                }
                .currency-rate {
                    width: 135px;
                    &>* {
                        font-size: 12px;  
                    } 
                }
            }
        }
    }
}