@import 'resetting';


.wrapper {
    width: 100%;
    height: auto;
}
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(192, 229, 238);
    width: 100%;
    .content-group {
        display: flex;
        position: relative;
        padding-right: 25px;
        .btn-setting {
            background-color: transparent;
            img {
                transition: transform 0.5s ease;
                &:hover {
                    transform: rotate(45deg) scale(1.1);
                }
            }
        }
        .date-group {
            display: flex;
            align-self: start;
            margin-left: 30px;
            &>* {
                margin-right: 10px;
                font-weight: 400;
                font-size: 14px;
            }
            &>*:last-child {
                margin-right: 0;
            }
        }
        .currency-rate {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 25px;
            left: 65px;
            width: 150px;
            
            & >* {
               font-weight: 400;
               font-size: 14px; 
               
            }
        }
    }
    .logo-group {
        text-align: center;
        cursor: pointer;
        &:hover * {
            text-shadow: 2px 3px 3px rgba(156, 133, 4, 0.808);
        }
        .logo-group__name {
            font-size: 32px;
            color: rgb(26, 102, 2);
        }
        .logo-group__title {
            font-weight: 500;
            color: rgb(95, 81, 2);
        }
    }
}
.main {
    width: 100%;
    height: 100%;
    background: url('../img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
    .main__container {
        padding-top: 68px;
        .menu-finance {
            display: flex;
            flex-direction: column;
            width: 180px;
            height: 100%;
            position: fixed;
            background-color: rgb(14, 143, 115);
            .menu-finance__list {
                &>* {
                    padding: 15px 15px;
                    color: rgba(207, 250, 250, 0.829);
                    font-size: 18px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: rgba(222, 238, 234, 0.342);
                    }
                    &.active-item {
                        background-color: rgba(222, 238, 234, 0.342);
                    }
                }
            }
        }
        .content-finance {
            max-width: 100%;
            padding-left: 180px;
        }
    }
}

// General style for Widget

.widget {
    display: flex;
    justify-content: center;
    min-height: 700px;
    .widget-body {
        background-color: rgba(240, 248, 255, 0.808);
        width: 100%;
        margin: 30px;
        margin-bottom: 0;
        padding: 30px;
        border-radius: 20px;
        min-height: 700px;
        .widget-title {
            font-size: 32px;
            color: rgb(28, 95, 86);
            line-height: 1.1;
            span {
                color: rgb(64, 101, 126);
            }
            margin-bottom: 50px;
        }
        .widget-text {
            font-size: 26px;
        }
    }
}

//Main Widget style

.main-widget, 
.myPortfolio-widget, 
.currencyRate-widget,
.stockPrice-widget,
.incomeCalculator-widget,
.economicNews-widget {
    display: none;
    &.active-widget {
        display: block;
    }
}
